In [1]:
import pandas as pd
pd.set_option('display.max_columns', 70)
from database.scrape import scrape_defense
import time

In [7]:
df_tms = pd.read_csv(r'database\DIM_PLAYER_GAMES.csv')
teams = list(df_tms['TEAM'].str.lower().unique())

In [8]:
teams.remove('oak')

In [9]:
teams[0:2]

['car', 'sfo']

In [10]:
dfs = []
for team in teams:
    years = [2020, 2021, 2022, 2023]
    time.sleep(12.1)
    df_tm = pd.concat([scrape_defense(year=year, defense=team) for year in years])
    for i in list(df_tm.columns):
        if i != 'WEEK':
            df_tm[i] = df_tm[i].shift(1)
    dfs.append(df_tm)

c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)
c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)
c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)
c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)
c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)
c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)
c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)
c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)

In [11]:
dfns_training = pd.concat(dfs)
dfns_training.dropna(inplace=True)
dfns_training

,DEF_TEAM,YEAR,WEEK,SCORE_OPP,PASSING_CMP,PASSING_ATT,PASSING_YDS,PASSING_TD,PASSING_INT,PASSING_SK,PASSING_Y_A,PASSING_NY_A,PASSING_CMP_PCT,PASSING_RATE,RUSHING_ATT,RUSHING_YDS,RUSHING_Y_A,RUSHING_TD
0,None,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAR,2020.0,2.0,34.000000,22.000000,30.000000,239.000000,1.000000,0.000000,0.000000,8.000000,8.000000,73.300000,107.500000,31.000000,133.000000,4.300000,3.000000
2,CAR,2020.0,3.0,32.500000,22.500000,32.500000,228.000000,1.000000,0.500000,0.000000,7.100000,7.100000,69.500000,93.900000,26.500000,127.500000,4.900000,3.000000
3,CAR,2020.0,4.0,27.000000,26.666667,38.000000,258.333333,1.000000,0.666667,0.666667,6.966667,6.833333,70.133333,91.600000,25.333333,124.000000,4.966667,2.333333
4,CAR,2020.0,5.0,25.500000,26.000000,36.250000,227.000000,1.500000,0.500000,0.750000,6.300000,6.175000,71.950000,97.875000,24.750000,125.250000,5.125000,1.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,SFO,2023.0,14.0,15.750000,25.416667,38.666667,219.416667,1.000000,1.250000,3.000000,6.241667,5.233333,65.800000,74.116667,20.250000,79.000000,3.758333,0.500000
13,SFO,2023.0,15.0,15.769231,25.153846,38.076923,222.076923,1.076923,1.307692,3.076923,6.430769,5.392308,66.200000,75.338462,20.230769,78.307692,3.738462,0.461538
14,SFO,2023.0,16.0,16.714286,25.214286,38.142857,220.642857,1.071429,1.357143,3.071429,6.357143,5.350000,66.235714,74.700000,20.928571,89.428571,4.028571,0.571429
15,SFO,2023.0,17.0,17.800000,25.066667,37.933333,222.000000,1.133333,1.266667,3.000000,6.413333,5.426667,66.200000,76.693333,21.266667,90.266667,4.020000,0.600000
16,SFO,2023.0,18.0,17.800000,25.066667,37.933333,222.000000,1.133333,1.266667,3.000000,6.413333,5.426667,66.200000,76.693333,21.266667,90.266667,4.020000,0.600000

,DEF_TEAM,YEAR,WEEK,SCORE_OPP,PASSING_CMP,PASSING_ATT,PASSING_YDS,PASSING_TD,PASSING_INT,PASSING_SK,PASSING_Y_A,PASSING_NY_A,PASSING_CMP_PCT,PASSING_RATE,RUSHING_ATT,RUSHING_YDS,RUSHING_Y_A,RUSHING_TD
14,SFO,2022.0,16.0,15.000000,22.928571,35.571429,211.428571,0.928571,1.000000,2.785714,6.764286,5.750000,65.035714,80.828571,21.714286,74.714286,3.514286,0.642857
15,SFO,2022.0,17.0,15.333333,23.066667,35.466667,215.333333,1.066667,1.000000,2.733333,6.880000,5.866667,65.600000,83.013333,22.466667,75.000000,3.440000,0.600000
16,SFO,2022.0,18.0,16.333333,24.066667,36.600000,232.666667,1.133333,1.066667,2.600000,7.120000,6.213333,66.966667,84.773333,22.133333,77.400000,3.540000,0.600000
0,SFO,2022.0,1.0,16.733333,23.800000,36.333333,233.600000,1.200000,1.133333,2.666667,7.206667,6.280000,66.746667,84.946667,22.533333,79.066667,3.573333,0.666667
1,SFO,2023.0,2.0,7.000000,31.000000,46.000000,198.000000,1.000000,2.000000,5.000000,5.000000,3.900000,67.400000,65.300000,10.000000,41.000000,4.100000,0.000000
2,SFO,2023.0,3.0,15.000000,32.500000,50.500000,247.500000,1.000000,2.000000,3.000000,5.300000,4.600000,64.600000,66.150000,16.000000,65.000000,4.050000,0.500000
3,SFO,2023.0,4.0,14.000000,29.000000,44.666667,205.333333,0.666667,1.666667,2.666667,4.933333,4.233333,65.300000,64.200000,14.333333,53.000000,3.566667,0.666667
4,SFO,2023.0,5.0,14.500000,28.750000,43.750000,218.250000,1.000000,1.250000,2.250000,5.325000,4.700000,66.050000,73.500000,17.000000,66.000000,3.725000,0.500000
5,SFO,2023.0,6.0,13.600000,26.200000,40.200000,202.600000,1.000000,1.600000,2.600000,5.500000,4.700000,65.140000,68.600000,17.400000,64.200000,3.580000,0.400000
6,SFO,2023.0,7.0,14.500000,24.833333,39.166667,197.833333,0.833333,1.666667,2.500000,5.516667,4.716667,63.100000,64.333333,20.166667,80.166667,3.766667,0.500000
7,SFO,2023.0,8.0,15.571429,26.285714,40.000000,223.571429,1.000000,1.571429,2.142857,5.928571,5.242857,65.200000,70.457143,20.285714,79.285714,3.728571,0.428571
8,SFO,2023.0,10.0,17.500000,26.500000,39.000000,228.875000,1.250000,1.375000,2.250000,6.287500,5.537500,67.987500,78.225000,21.125000,86.125000,3.887500,0.500000
9,SFO,2023.0,11.0,15.888889,25.555556,38.222222,221.444444,1.111111,1.444444,2.555556,6.244444,5.411111,66.688889,74.422222,20.666667,83.111111,3.844444,0.444444
10,SFO,2023.0,12.0,15.700000,25.900000,38.900000,221.400000,1.100000,1.400000,2.700000,6.170000,5.320000,66.460000,74.420000,20.400000,81.400000,3.830000,0.500000
11,SFO,2023.0,13.0,15.454545,25.181818,37.818182,213.272727,1.000000,1.363636,3.000000,6.218182,5.200000,66.481818,73.345455,20.454545,82.000000,3.863636,0.454545
12,SFO,2023.0,14.0,15.750000,25.416667,38.666667,219.416667,1.000000,1.250000,3.000000,6.241667,5.233333,65.800000,74.116667,20.250000,79.000000,3.758333,0.500000
13,SFO,2023.0,15.0,15.769231,25.153846,38.076923,222.076923,1.076923,1.307692,3.076923,6.430769,5.392308,66.200000,75.338462,20.230769,78.307692,3.738462,0.461538
14,SFO,2023.0,16.0,16.714286,25.214286,38.142857,220.642857,1.071429,1.357143,3.071429,6.357143,5.350000,66.235714,74.700000,20.928571,89.428571,4.028571,0.571429
15,SFO,2023.0,17.0,17.800000,25.066667,37.933333,222.000000,1.133333,1.266667,3.000000,6.413333,5.426667,66.200000,76.693333,21.266667,90.266667,4.020000,0.600000
16,SFO,2023.0,18.0,17.800000,25.066667,37.933333,222.000000,1.133333,1.266667,3.000000,6.413333,5.426667,66.200000,76.693333,21.266667,90.266667,4.020000,0.600000