In [1]:
import pandas as pd
pd.set_option('display.max_columns', 70)
from database.scrape import scrape_defense

In [2]:
years = [2018, 2019, 2020, 2021, 2022, 2023]

In [3]:
df_all = pd.concat([scrape_defense(year=year, defense='mia') for year in years])

c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:269: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)
c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:269: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)
c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:269: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)
c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:269: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)
c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:269: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)
c:\Users\012356.CORPORATE\OneDrive - TRIMEDX Holdings, LLC\Desktop\FF_DB\database\scrape.py:269: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_def.dropna(inplace=True)

In [4]:
df_all.tail(20)

,DEF_TEAM,YEAR,WEEK,SCORE_OPP,PASSING_CMP,PASSING_ATT,PASSING_YDS,PASSING_TD,PASSING_INT,PASSING_SK,PASSING_Y_A,PASSING_NY_A,PASSING_CMP_PCT,PASSING_RATE,RUSHING_ATT,RUSHING_YDS,RUSHING_Y_A,RUSHING_TD
14,MIA,2022,16,24.666667,25.200000,37.200000,244.666667,1.666667,0.533333,2.466667,7.200000,6.340000,67.480000,96.240000,25.400000,109.133333,4.213333,1.000000
15,MIA,2022,17,25.733333,25.133333,37.400000,243.333333,1.733333,0.466667,2.533333,7.140000,6.260000,66.853333,96.920000,25.333333,109.000000,4.220000,1.000000
16,MIA,2022,18,23.600000,24.933333,37.666667,232.066667,1.533333,0.466667,2.533333,6.706667,5.826667,65.660000,91.840000,25.000000,101.200000,3.933333,0.933333
0,MIA,2023,1,34.000000,23.000000,33.000000,200.000000,1.000000,0.000000,3.000000,6.900000,5.600000,69.700000,95.500000,40.000000,233.000000,5.800000,3.000000
1,MIA,2023,2,25.500000,27.000000,37.500000,200.000000,1.000000,0.500000,3.500000,6.200000,4.950000,71.750000,88.450000,32.500000,160.500000,4.650000,2.000000
2,MIA,2023,3,23.666667,25.666667,37.666667,231.333333,1.000000,0.666667,2.666667,6.833333,5.800000,68.000000,86.500000,28.333333,130.000000,4.266667,1.333333
3,MIA,2023,4,29.750000,24.500000,34.500000,251.000000,1.750000,0.500000,2.500000,8.325000,7.225000,72.000000,104.350000,28.500000,123.500000,4.100000,1.500000
4,MIA,2023,5,27.000000,24.200000,34.000000,237.400000,1.400000,0.400000,3.400000,7.940000,6.720000,71.980000,100.640000,28.600000,115.800000,3.860000,1.200000
5,MIA,2023,6,26.000000,24.166667,34.833333,229.166667,1.333333,0.333333,3.500000,7.566667,6.333333,70.233333,97.533333,28.000000,114.500000,3.933333,1.166667
6,MIA,2023,7,26.714286,24.000000,34.285714,233.000000,1.428571,0.428571,3.428571,7.771429,6.500000,70.800000,98.800000,28.857143,112.285714,3.785714,1.285714
7,MIA,2023,8,25.500000,23.375000,33.625000,221.500000,1.500000,0.500000,3.375000,7.500000,6.237500,70.137500,97.150000,27.625000,107.875000,3.825000,1.125000
8,MIA,2023,9,25.000000,23.000000,33.222222,216.222222,1.555556,0.444444,3.222222,7.355556,6.144444,69.755556,97.911111,27.222222,106.222222,3.833333,1.000000
9,MIA,2023,11,23.800000,23.100000,34.000000,220.600000,1.500000,0.700000,3.100000,7.280000,6.130000,68.630000,93.610000,26.100000,99.200000,3.680000,0.900000
10,MIA,2023,12,22.818182,23.454545,34.363636,212.363636,1.454545,0.818182,3.454545,7.045455,5.836364,68.854545,90.772727,24.636364,92.818182,3.609091,0.818182
11,MIA,2023,13,22.166667,22.500000,33.416667,203.583333,1.333333,0.833333,3.416667,6.916667,5.691667,67.466667,87.108333,24.916667,96.583333,3.716667,0.916667
12,MIA,2023,14,22.615385,22.538462,33.769231,212.538462,1.307692,0.846154,3.230769,7.046154,5.884615,66.930769,86.976923,25.230769,95.538462,3.653846,1.000000
13,MIA,2023,15,21.000000,22.214286,34.000000,203.071429,1.214286,0.928571,3.428571,6.807143,5.600000,65.621429,83.092857,24.285714,90.357143,3.528571,0.928571
14,MIA,2023,16,20.933333,22.066667,33.866667,205.666667,1.266667,0.866667,3.466667,6.880000,5.673333,65.413333,84.653333,24.333333,90.800000,3.553333,0.866667
15,MIA,2023,17,20.933333,22.066667,33.866667,205.666667,1.266667,0.866667,3.466667,6.880000,5.673333,65.413333,84.653333,24.333333,90.800000,3.553333,0.866667
16,MIA,2023,18,20.933333,22.066667,33.866667,205.666667,1.266667,0.866667,3.466667,6.880000,5.673333,65.413333,84.653333,24.333333,90.800000,3.553333,0.866667

In [5]:
#doing this to create training data.
#I need the values as they were from the week before, not what they actaully were. 
for i in list(df_all.columns):
    if i != 'WEEK':
        df_all[i] = df_all[i].shift(1)

In [7]:
df_all.dropna(inplace=True)

In [8]:
df_all

,DEF_TEAM,YEAR,WEEK,SCORE_OPP,PASSING_CMP,PASSING_ATT,PASSING_YDS,PASSING_TD,PASSING_INT,PASSING_SK,PASSING_Y_A,PASSING_NY_A,PASSING_CMP_PCT,PASSING_RATE,RUSHING_ATT,RUSHING_YDS,RUSHING_Y_A,RUSHING_TD
1,MIA,2018.0,2,20.000000,20.000000,38.000000,220.000000,0.000000,3.000000,0.000000,5.800000,5.800000,52.600000,37.200000,29.000000,116.000000,4.000000,1.000000
2,MIA,2018.0,3,16.000000,22.500000,39.500000,270.000000,0.500000,2.500000,1.500000,6.950000,6.550000,56.800000,55.200000,24.000000,79.000000,3.100000,0.500000
3,MIA,2018.0,4,17.333333,24.000000,39.333333,288.333333,0.666667,2.333333,2.000000,7.566667,6.933333,60.933333,64.033333,26.666667,89.000000,3.200000,0.666667
4,MIA,2018.0,5,22.500000,23.750000,38.250000,284.750000,1.250000,2.250000,1.500000,7.625000,7.150000,62.125000,71.575000,30.000000,110.500000,3.500000,1.000000
5,MIA,2018.0,6,23.400000,23.000000,36.600000,273.600000,1.200000,2.000000,1.600000,7.760000,7.160000,63.040000,74.600000,29.200000,109.000000,3.600000,0.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,MIA,2023.0,14,22.166667,22.500000,33.416667,203.583333,1.333333,0.833333,3.416667,6.916667,5.691667,67.466667,87.108333,24.916667,96.583333,3.716667,0.916667
13,MIA,2023.0,15,22.615385,22.538462,33.769231,212.538462,1.307692,0.846154,3.230769,7.046154,5.884615,66.930769,86.976923,25.230769,95.538462,3.653846,1.000000
14,MIA,2023.0,16,21.000000,22.214286,34.000000,203.071429,1.214286,0.928571,3.428571,6.807143,5.600000,65.621429,83.092857,24.285714,90.357143,3.528571,0.928571
15,MIA,2023.0,17,20.933333,22.066667,33.866667,205.666667,1.266667,0.866667,3.466667,6.880000,5.673333,65.413333,84.653333,24.333333,90.800000,3.553333,0.866667
16,MIA,2023.0,18,20.933333,22.066667,33.866667,205.666667,1.266667,0.866667,3.466667,6.880000,5.673333,65.413333,84.653333,24.333333,90.800000,3.553333,0.866667