In [1]:
import pandas as pd
pd.set_option('display.max_columns', 70)
from database.scrape import scrape_defense
import time

In [2]:
df_tms = pd.read_csv(r'database\DIM_PLAYER_GAMES.csv')
teams = list(df_tms['TEAM'].str.lower().unique())

In [7]:
teams.remove('oak')

In [10]:
teams[9] = 'rav'
teams[11] = 'ram'
teams[13] = 'oti'
teams[17] = 'htx'
teams[18] = 'sdg'
teams[21] = 'rai'
teams[26] = 'crd'
teams[29] = 'clt'

In [11]:
teams

['car',
 'sfo',
 'dal',
 'buf',
 'kan',
 'mia',
 'phi',
 'det',
 'tam',
 'rav',
 'jax',
 'ram',
 'chi',
 'oti',
 'cin',
 'gnb',
 'nyj',
 'htx',
 'sdg',
 'min',
 'cle',
 'rai',
 'nyg',
 'atl',
 'sea',
 'nor',
 'crd',
 'nwe',
 'pit',
 'clt',
 'was',
 'den']

In [12]:
dfs = []
for team in teams:
    years = [2022]
    time.sleep(6.1)
    df_tm = pd.concat([scrape_defense(year=year, defense=team) for year in years])
    dfs.append(df_tm)
for team in teams:
    years = [2023]
    time.sleep(6.1)
    df_tm = pd.concat([scrape_defense(year=year, defense=team) for year in years])
    dfs.append(df_tm)

In [13]:
dfns_training = pd.concat(dfs)
dfns_training.dropna(inplace=True)
dfns_training

,DEF_TEAM,YEAR,WEEK,SCORE_OPP,PASSING_CMP,PASSING_ATT,PASSING_YDS,PASSING_TD,PASSING_INT,PASSING_SK,PASSING_Y_A,PASSING_NY_A,PASSING_CMP_PCT,PASSING_RATE,RUSHING_ATT,RUSHING_YDS,RUSHING_Y_A,RUSHING_TD
0,CAR,2022,1.0,26,18,34,138,1,0,1,4.3,3.9,52.9,72.9,39,217,5.6,1
1,CAR,2022,2.0,19,22,34,162,1,0,3,5.2,4.4,64.7,85.7,33,103,3.1,0
2,CAR,2022,3.0,14,25,41,342,1,2,1,8.6,8.1,61.0,75.5,22,84,3.8,1
3,CAR,2022,4.0,26,23,32,206,2,1,1,6.5,6.2,71.9,96.6,37,132,3.6,1
4,CAR,2022,5.0,37,18,30,244,2,0,2,8.4,7.6,60.0,108.2,29,153,5.3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,DEN,2023,14.0,7,22,42,207,0,1,6,6.5,4.3,52.4,56.3,19,76,4.0,1
13,DEN,2023,15.0,42,24,34,263,5,0,2,8.2,7.3,70.6,132.7,28,185,6.6,1
14,DEN,2023,16.0,26,25,33,230,2,0,2,7.8,6.6,75.8,114.5,21,59,2.8,0
15,DEN,2023,17.0,9,24,38,215,0,0,1,5.8,5.5,63.2,78.3,24,86,3.6,0
16,DEN,2023,18.0,27,20,32,230,2,0,3,7.6,6.6,62.5,104.9,31,129,4.2,1

In [15]:
dfns_training.to_csv(r'database/DIM_DEFENSE.csv')