In [1]:
import pandas as pd
pd.set_option('display.max_columns', 70)
from database.scrape import scrape_defense
import time

In [2]:
df_tms = pd.read_csv(r'database\DIM_PLAYER_GAMES.csv')
teams = list(df_tms['TEAM'].str.lower().unique())

In [3]:
teams.remove('oak')

In [4]:
teams[9], teams[11], teams[13], teams[17], teams[18], teams[21], teams[26], teams[29]

('bal', 'lar', 'ten', 'hou', 'lac', 'lvr', 'ari', 'ind')

In [5]:
teams[9] = 'rav'
teams[11] = 'ram'
teams[13] = 'oti'
teams[17] = 'htx'
teams[18] = 'sdg'
teams[21] = 'rai'
teams[26] = 'crd'
teams[29] = 'clt'

In [6]:
# dfs = []
# for team in teams:
#     years = [2022]
#     time.sleep(6.1)
#     df_tm = pd.concat([scrape_defense(year=year, defense=team) for year in years])
#     dfs.append(df_tm)
# for team in teams:
#     years = [2023]
#     time.sleep(6.1)
#     df_tm = pd.concat([scrape_defense(year=year, defense=team) for year in years])
#     dfs.append(df_tm)

In [7]:
dfs = []
for team in teams:
    years = [2021]
    time.sleep(6.1)
    df_tm = pd.concat([scrape_defense(year=year, defense=team) for year in years])
    dfs.append(df_tm)
for team in teams:
    years = [2020]
    time.sleep(6.1)
    df_tm = pd.concat([scrape_defense(year=year, defense=team) for year in years])
    dfs.append(df_tm)
for team in teams:
    years = [2019]
    time.sleep(6.1)
    df_tm = pd.concat([scrape_defense(year=year, defense=team) for year in years])
    dfs.append(df_tm)
for team in teams:
    years = [2018]
    time.sleep(6.1)
    df_tm = pd.concat([scrape_defense(year=year, defense=team) for year in years])
    dfs.append(df_tm)

In [8]:
dfns_training = pd.concat(dfs)
dfns_training.dropna(inplace=True)
dfns_training

,DEF_TEAM,YEAR,WEEK,SCORE_OPP,PASSING_CMP,PASSING_ATT,PASSING_YDS,PASSING_TD,PASSING_INT,PASSING_SK,PASSING_Y_A,PASSING_NY_A,PASSING_CMP_PCT,PASSING_RATE,RUSHING_ATT,RUSHING_YDS,RUSHING_Y_A,RUSHING_TD
0,CAR,2021,1.0,14,20,37,207,2,1,6,7.0,4.8,54.1,77.2,17,45,2.6,0
1,CAR,2021,2.0,7,11,22,80,0,2,4,5.0,3.1,50.0,21.0,17,48,2.8,1
2,CAR,2021,3.0,9,19,28,151,1,0,4,6.0,4.7,67.9,93.0,17,42,2.5,0
3,CAR,2021,4.0,36,14,22,188,4,0,0,8.5,8.5,63.6,130.3,34,245,7.2,1
4,CAR,2021,5.0,21,22,37,182,0,1,2,5.4,4.7,59.5,60.9,22,91,4.1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,DEN,2018,13.0,10,25,37,202,1,1,4,6.4,4.9,67.6,78.9,23,111,4.8,0
12,DEN,2018,14.0,20,20,33,305,2,1,3,10.1,8.5,60.6,98.7,30,84,2.8,0
13,DEN,2018,15.0,17,18,31,175,2,1,2,6.1,5.3,58.1,82.1,28,134,4.8,0
14,DEN,2018,16.0,27,19,26,159,0,0,1,6.4,5.9,73.1,88.5,30,114,3.8,2
15,DEN,2018,17.0,23,14,24,160,1,2,1,7.3,6.4,58.3,57.6,30,116,3.9,1

In [11]:
dfns_training.to_csv(r'database/DIM_DEFENSE.csv', mode='a', header=False)