In [1]:
import pandas as pd

In [2]:
df_stats = pd.read_csv(r'database/player_game_stats.csv')

In [3]:
df_stats['GAME_ORDER'] = df_stats['Unnamed: 0']
df_stats.drop(columns=['Unnamed: 0'], inplace=True)
df_stats.iloc[:,0:2] = df_stats.iloc[:,0:2].astype(float)
df_stats.iloc[:,3:5] = df_stats.iloc[:,3:5].astype(float)
df_stats.iloc[:,6] = df_stats.iloc[:,6].astype(float)
df_stats.iloc[:,11:47] = df_stats.iloc[:,11:47].astype(float)
df_stats

C:\Users\012356.CORPORATE\AppData\Local\Temp\ipykernel_22944\248846687.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_stats.iloc[:,0:2] = df_stats.iloc[:,0:2].astype(float)

,GAME_ORDER,YEAR,DATE,GAME_NUMBER,WEEK,PLAYER,AGE,TEAM,OPPONENT,RESULT,...,PASSING_ATT,PASSING_CMP_PCT,PASSING_YDS,PASSING_TD,PASSING_INT,PASSING_RATE,PASSING_SK,PASSING_YDS1,PASSING_Y_A,PASSING_AY_A
0,0.0,2018.0,2018-09-09,1.0,1.0,Christian McCaffrey,22.094,CAR,DAL,W 16-8,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00
1,1.0,2018.0,2018-09-16,2.0,2.0,Christian McCaffrey,22.101,CAR,ATL,L 24-31,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00
2,2.0,2018.0,2018-09-23,3.0,3.0,Christian McCaffrey,22.108,CAR,CIN,W 31-21,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00
3,3.0,2018.0,2018-10-07,4.0,5.0,Christian McCaffrey,22.122,CAR,NYG,W 33-31,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00
4,4.0,2018.0,2018-10-14,5.0,6.0,Christian McCaffrey,22.129,CAR,WAS,L 17-23,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8742,49.0,2022.0,2022-12-18,14.0,15.0,Andy Dalton,35.050,NOR,ATL,W 21-18,...,17.0,64.71,151.0,2.0,0.0,132.2,2.0,17.0,8.88,11.24
8743,50.0,2022.0,2022-12-24,15.0,16.0,Andy Dalton,35.056,NOR,CLE,W 17-10,...,15.0,53.33,92.0,0.0,1.0,44.3,0.0,0.0,6.13,3.13
8744,51.0,2022.0,2023-01-01,16.0,17.0,Andy Dalton,35.064,NOR,PHI,W 20-10,...,22.0,81.82,205.0,0.0,1.0,86.6,6.0,38.0,9.32,7.27
8745,52.0,2022.0,2023-01-08,17.0,18.0,Andy Dalton,35.071,NOR,CAR,L 7-10,...,25.0,60.00,171.0,1.0,0.0,93.9,1.0,10.0,6.84,7.64
8746,53.0,2023.0,2023-09-24,3.0,3.0,Andy Dalton,35.330,CAR,SEA,L 27-37,...,58.0,58.62,361.0,2.0,0.0,88.4,3.0,27.0,6.22,6.91

In [4]:
df_stats.to_csv('database/DIM_PLAYER_GAMES.csv')